	@media(min-width:320px){
		.name{
			font-size:60px;
		}
		.name-1{
			font-size:25px;
		}
		.list-icon{
			padding: 0 5px;
		}
	}
	@media(min-width:767px){
		.name{
			font-size:80px;
		}
		.name-1{
			font-size:30px;
		}
		.list-icon{
			padding: 0 10px;
		}
	}
	@media(min-width:1000px){
		.about{
			height:400px
		}
		.about-1{
			height:400px;
		}
		.name{
			font-size:100px;
		}
		.name-1{
			font-size:40px;
		}
	}
	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	.section-1{
		background:linear-gradient(#00000099,#00000099),url(../images/bg-1.jpg);
		height:100vh;
		background-position:center;
		background-size:cover;
		background-attachment:fixed;
	}
	.menu-bar{
		top:20px;
		right:20px;
		z-index:1;
	}
	.list-icon{
		font-size: 40px;
		background-color: #76C8B7;
		border-radius: 5px;
	}
	.nav{
		display: none;
	}
	.nav-link{
		font-size: 20px;
		color: white;
	}
	.port-img{
		background-color:#000000c7;
		opacity:0;
	}
	.port-box:hover .port-img{
		opacity:1;
		transition: 0.7s linear;
	}
	.plus-icon{
		height:40px;
		width:40px;
		border-radius:50%;
		background-color:white;
		display:flex;
		justify-content:center;
		align-items:center;
		margin: 0 auto;
	}
	.plus-icon:hover{
		background-color:skyblue;
		transition: 0.5s linear;
	}
	.plus-icon:hover a{
		color:white;
	}
	.skill{
		width:100%;
		height:3px;
		background-color:#76C8B7;
		position:relative;
	}
	.skill-line{
		position:absolute;
		top:0;
		height:3px;
		background-color:#414252;
	}
	.skill-line span{
		height:20px;
		width:20px;
		border-radius:50%;
		background-color:#76C8B7;
		position:absolute;
		right:0;
		top:-10px;
		border: 2px solid #414252;
	}
	.card{
		border:none;
	}
	.award{
		border-bottom: 5px solid #76C8B7;
	}
	.award:hover{
		transform:translateY(10px);
		transition:all 0.5s linear;
	}
	.achieve{
		font-size:50px;
	}
	.follow-icon{
		height:40px;
		width:40px;
		background-color:white;
		font-size:20px;
	}
	.follow-icon a{
		color:#414252;
	}
	.font-color{
		color: #76C8B7;
	}